@import './buttons.css';

body{
    background: linear-gradient(to right, rgb(6, 102, 105), #6585ed);
    font-family: 'Segoe UI', 'Calibri', 'Verdana', 'Arial';
    font-size: 16px;
	font-weight: normal;
	line-height: 1;
	text-align: left;
	scroll-behavior: smooth;
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

.video-wrapper{
    max-inline-size: 800px;
    margin: auto;
}

.player{
    position: relative;
}

.player:hover .player-overlay{
    opacity: 1;
}

.player video{
    inline-size: 100%;
    aspect-ratio: 16/9;
    vertical-align: middle;
    object-fit: cover;
}

.player-title{
    color: white;
    position: absolute;
    inset-block-start: 10px;
    inset-inline-start: 20px;
    margin: 0;
}

.player-overlay{
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: 0.3s opacity;
}

.player-actions{
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.player-progress{
    position: absolute;
    inset-block-end: 0;
    inset-inline: 0;
    display: flex;
    padding: 10px;
}

.player-progress input{
    flex: 1;
}